// Desktop styling
@media screen and (min-width: 992px) {
  // container
  .container {
    width: 80%;
  }

  // header styling
  header {
    padding: 2rem;
    .hamburger {
      display: none;
    }

    // desktop version display flex
    .desktop-header-middle,
    .desktop-header-right {
      display: flex;
      gap: 2rem;
    }
    .desktop-header-middle {
      width: 40%;
      display: flex;
      justify-content: space-between;
      .products-dropdown {
        
      }
    }
    li {
      // text-decoration: none;
      list-style: none;
    }
  }

  // content styling
  .content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 10vh;
    gap: 2rem;
    .contentLeft {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: baseline;
      justify-content: center;
      h1 {
        font-size: 4.5rem;
        // max-width: 60%;
      }
      p {
        // max-width: %;
      }
    }
    .contentRight {
      width: 30%;
    }
    div {
      // max-width: 45vw;
      img {
        max-width: 100%;
      }
    }
  }

  /* Footer styling */
  footer {
    text-align: center;
    margin-top: 4rem;
    .footerLogosDiv {
      margin: 0 auto;
      flex-direction: row !important;
    }
  }
}
@media screen and (max-width: 991px) {
  // desktop li and sign in button default diplay none because it is mobile-first approach
  .desktop-header-middle,
  .desktop-header-right {
    display: none;
  }

  .content {
    .contentRight {
      display: none;
    }
  }
}
