// Desktop styling
@media screen and (min-width: 992px) {
  // content styling
  .content {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10vh;
    .contentLeft {
      width: 70%;
    }
    .contentRight {
      width: 30%;
    }
    div {
      // max-width: 45vw;
      img {
        max-width: 100%;
      }
    }
  }

  /* Footer styling */
  footer {
    text-align: center;
    .footerLogosDiv {
      margin: 0 auto;
      flex-direction: row !important;
    }
  }
}
