@font-face {
    font-family: CuriosityBold;
    src: url(../fonts/TTF/SKCuriosity-Bold.ttf);
}
@font-face {
    font-family: Curiosity;
    src: url(../fonts/TTF/SKCuriosity-Black.ttf);
}
@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

//Mobile first and then add the comlexity through desktop mediaqueries
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color: rgba(243, 237, 229, 255);
}

// main parent container div
.container {
    width: 95%;
    // border: 2px solid blue;
    margin: 0 auto;
    height: 100%;
    // child elements margin
    padding: 1rem;
}

// header and navbar styling
header {
    width: 100%;
    // position: absolute;
    // top: 0;
    // left: 0;
    max-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    // hamburger icon size limit and styling
    .hamburger {
        height: 1.2rem;
    }

    .products-dropdown {
        position: relative;
        // padding-left: 10px;
    }
    // hide products dropdown for mobile 
    .desktop-products > div {
      display: none;
      .dropdown-item {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        .dropdownContent {
          max-width: 100%;
        }
      }
    }
    .desktop-products:hover > .products-dropdown{
      max-width: 30%;
      display: flex;
      position: absolute;
      background-color: white;
      margin: 1rem -4rem 0 -4rem;
      border-radius: 15px;
      padding-left: 4rem;
      padding-right: 4rem;
      padding: 1rem 4rem;
      .dropdown-item {
        display: flex;
        flex-direction: row;
        align-items: baseline;
      }
    }
}

// Dropdown hamburger menu
.mobile-dropdown {
    // margin: 0;
    // display: none;
    max-height: 0;
    padding: 0;
    border-radius: 15px;
    width: 100%;
    background-color: #a8baa9;
    li {
        list-style: none;
        padding: 1rem;
        height: 0px;
        display: none;
    }
    // products dropdown menu
    .products-dropdown {
        display: none;
    }
}
// dropdown on
.on {
    max-height: 100%;
    display: block;
    transition: max-height 0.5s linear;
    li {
        display: block;
        height: auto;
        transition: height 1s ease;
    }
    // products dropdown menu
    .products-dropdown {
        width: 100%;
        display: none;
        flex-direction: column;
        padding: 2rem;
        background-color: white;
        border-radius: 15px;
        .products-dropdown-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .products-dropdown-content {
            gap: 1rem;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .dropdown-item {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                .dropdownInfo {
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}

// main content styling
.content {
  margin: 4rem auto;
  div {
    h1 {
        margin-bottom: 0;
        font-size: 2rem;
        font-weight: 900;
        span {
            color: #f7b300;
        }
    }
    p {
        margin: 0.9rem 0;   
    }
    .content-rating {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      color: #656866;
    }
    .btn {
        margin-bottom: 1rem;
    }
  }
}

// green button styling
.btn {
  padding: 1rem 1.75rem;
  border: 0;
  border-radius: 3px;
  background-color: #143417;
  color: white;
  font-weight: 700;
}

// footer styling
footer {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 20% auto 0 auto;
  p {
    font-size: 0.9rem;
    color: #435349;
  }
  .footerLogosDiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    div {
        display: flex;
        justify-content: center;
        gap: 2rem;
    }
    img {
      max-width: 50%;
    }
  }
}